*{
    padding: 0;
    margin:0;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
}
body{
    background:linear-gradient(#200016,#10001f);
    font-family: system-ui;
    height: 100vh;
}
header{
    display: flex;
    position: absolute;
    width: 95%;
    justify-content: space-between; 
    align-items: center;
    margin: 30px;
    z-index: 100;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
    color:white; 
}

header ul li a:hover,.active{
    background-color:white;
    border-radius: 20px;
    color: #200016;
}


.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#200016,transparent );
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon{
mix-blend-mode: screen;
transform: translateY(80px);
}
.nouvil{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    transform: translateY(-140px);
}
.content{
    color: white;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin:20px ;
}